# Dependencies
node_modules

# Build artifacts
__build__
*.tgz

# Debug logs
npm-debug.log

# Environment
.env

# Executables
*.exe

# Source maps
*.js.map

# Files marked with gitigx
*gitigx*

# IDE
.idea

# Playwright
test-results/
playwright-report/
