/*reset*/
html, body, div, span, a, p, ul, li, h1, code, nav {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

html {
  background-color: #F0F0F0;
}

body {
  font-family: helvetica neue, helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.025em;

  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;

  /*required for IE/Edge to be compatible with left:50vw & transform:translate(-50%, 0),
  otherwise there is a phantom div on the right side of the screen (from the left:50vw),
  that the window will scroll to*/
  overflow-x: hidden;
}

/*root div in index.html*/
#root {
  min-height: 100vh;
  background-color: #F0F0F0;
}

/*reactroot div*/
#root > div {
  min-width: 320px;
  max-width: 45vw;
  padding: 3vh 0 12vh 0;
  margin: 0 auto;
  /*center based on vw to prevent content jump when vertical scroll bar show/hide
  note: vw/vh include the width of scroll bars*/
  position: relative;
  /*left: 50vw;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);*/
}

/*use responsive max-width to simulate padding/margin to allow
space for vertical scroll bar without creating horizontal scroll bar
(if there is padding, the window will scroll horizontally to show the padding) */
@media (max-width: 540px) {
  #root > div {
    max-width: calc(100vw - 40px);
  }
}

/*links*/
a {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

a:hover, a:active {
}

.current-input-touch a:hover {
  color: inherit;
}

.current-input-touch a:active {
}

/*extended link*/
.extended-link {
  border: none;
}

.extended-link:hover, .extended-link:active,
.current-input-touch .extended-link:active, .current-input-touch .extended-link:hover {
  border: none;
  color: inherit;
}

.extended-link > span {
}

.extended-link:hover > span, .extended-link:active > span {
  color: black;
}

.current-input-touch .extended-link:hover > span {
  color: inherit;
}

.current-input-touch .extended-link:active > span {
  color: black;
}

/*custom bullets*/
li {
  list-style: none;
  padding-left: 18px;
  text-indent: -15px;
  margin: 0.5vh 0;
}

/*title*/
h1 {
  font-size: 20px;
  margin-bottom: 0.5vh;
}

/*repo link*/
#root > div > a {
  font-size: 14px;
}

/*map menu*/
nav {
  margin: 3vh 0;
}

p {
  margin: 3vh 0;
  line-height: 1.4;
}

code {
  font-family: monospace;
  font-size: 15px;
  padding-left: 2px;
}

.twitter-typeahead, .tt-menu {
  width: 100%
}
.list-group {
  margin-bottom: 0px;
}

#root > div > div > div {
  margin: 1vh 0;
}

#root > div > div > div > div {
  margin: 3vh 0;
}

.highlight{
  font-weight: 400;
  font-size: xx-large;
}

.floatright{
  float: right;
  padding-right: 5%;
}

.floatleft{
  float: left;
  padding-left: 5%;
}

.submit{
  clear: both;
  text-align: center;
  padding-top: 20px;
}
.form-group{
  clear: both;
  padding-top: 10px;
}

.col-md-6 {
  padding: 10px 60px;
}

.timepicker-picker {
  font-size: x-large;
}

.textola{
  padding-left: 5%;
  padding-right: 5%;
}

header{
  padding-bottom: 30px;
}

.label{
  font-size: medium;
  font-weight: 400;
  color: #000;
  padding-left: 3%;
  padding-right: 3%;
}

#result{
  text-align: center;
  padding-top: 30px;
}

.dropdown-toggle{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}


li{
padding-left: 0px;
text-indent: 0px;
}

.duration{
  width:1%
}

.bootstrap-select>.dropdown-toggle {
  padding-right: 12px;
}

.dropdown-menu>li>a {
  padding: 3px 8px;
}
/*
.hour{
  padding-right: 5px;
}*/

.hr .min {
    max-width: 1px;
}

select {
    /*for firefox*/
    -moz-appearance: none;
    /*for chrome*/
    -webkit-appearance:none;
}

/*for IE10*/
select::-ms-expand {
    display: none;
}

.input-group-addon {
  padding: 6px 8px;
}

.btn {
  padding: 6px 8px;
}

.small {

  font-size: small;
}

hr{
  margin: 15px 5%;
  border-top: 1px solid rgba(173,173,173,0.4);
}
